header {
  background-color: darkorchid;
  padding: 15px;
  margin: 10px;
  border: 3px solid royalblue;
  text-align: center;
}

nav {
  background-color: 06bcc1;
  text-align: center;
  font-size: 32px;
}
h1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 80px;
  font-weight: 700;
  letter-spacing: -1px;
  text-transform: uppercase;
}

h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 28px;
  text-align: left;
  color: black;
  background-color: aqua;

}

h3{
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;
  text-align: left;
  background-color:white;
}
p {
  
}

a[href^="tel:"]{
    color:fuchsia;
  }

a[href^="mailto:"]{
    color:dodgerblue;
  }